<div class="container">
   <div class="row">
    <div class="divdesign col-sm-3">
      <div class="pull-left">
        <img [src]="Img" alt="" class="img-responsive">
      </div>
        <p><strong>Receipe Name</strong> - {{ReceipeItem.name}}</p>
        <p><strong>Price</strong> - {{ReceipeItem.receipeid}} Rs.</p>
        <p><strong>Desciption</strong> {{ReceipeItem.desc}}</p>
        
        <a href="#" class="btn btn-primary" style="margin-top: 5px;" (click)="OnSelectedReceipe()">Show More</a>
    </div>
   </div>
</div>

