<div class="container">
   <div class="row">
    <div class="divdesign col-md-3">
      <div class="pull-left">
        <img src="https://media.istockphoto.com/photos/woman-with-umbrella-watching-birds-fly-picture-id914121330" alt="" class="img-responsive">
      </div>
        <p><strong>Receipe Name</strong> - {{ReceipeItem.name}}</p>
        <p><strong>Price</strong> - {{ReceipeItem.receipeid}}</p>
        <p><strong>Desciption</strong> {{ReceipeItem.desc}}</p>
        
        <a href="#" class="btn btn-primary" style="margin-top: 5px;" (click)="OnSelectedReceipe()">Show More</a>
    </div>
   </div>
</div>

