.divdesign
{
        margin-top: 10px;
        padding: 10px;
        background-color: #f4f4f4;
        padding: 20px;
        margin-bottom: 10px;
        box-shadow: 20px 20px 70px rgb(112, 110, 110);
}